<table class="table table-striped table-hover">
  <tr>
    <div>
      <a href="">如果你是新手，请务必先看完本项目的视频教程</a>
      <p></p>
    </div>
  </tr>
  <tr>
    <div>
      <a href="">如果你是新手，请务必先看完本项目的视频教程</a>
      <p></p>
    </div>
  </tr>
  <tr>
    <div>
      <a href="">如果你是新手，请务必先看完本项目的视频教程</a>
      <p></p>
    </div>
  </tr>
  <tr>
    <div>
      <a href="">如果你是新手，请务必先看完本项目的视频教程</a>
      <p></p>
    </div>
  </tr>
  <tr>
    <div>
      <a href="">如果你是新手，请务必先看完本项目的视频教程</a>
      <p></p>
    </div>
  </tr>
  <tr>
    <div>
      <a href="">如果你是新手，请务必先看完本项目的视频教程</a>
      <p></p>
    </div>
  </tr>
</table>