
<div nz-row style="padding:15px">
  <div nz-col [nzSpan]="8" [nzPush]="16">
    <div class="list-group">
          <a href="#" class="list-group-item active">
            社交媒体
          </a>
          <a href="#" class="list-group-item">官方微博</a>
          <a href="#" class="list-group-item">优酷视频教程</a>
          <a href="#" class="list-group-item">油管视频教程</a>
          <a href="#" class="list-group-item">我的主页</a>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item active">
            QQ群
          </a>
          <a href="#" class="list-group-item">Angular 1区: 286047042</a>
          <a href="#" class="list-group-item">Angular 2区: 286047042</a>
          <a href="#" class="list-group-item">Angular 3区: 286047042</a>
          <a href="#" class="list-group-item">Angular 4区: 286047042</a>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item active">
            2017-9-16
          </a>
          <a href="#" class="list-group-item">访问总数：123421</a>
          <a href="#" class="list-group-item">文章总数：3423</a>
          <a href="#" class="list-group-item">评论总数： 23424</a>
          <a href="#" class="list-group-item">会员总数： 3432421</a>
          <a href="#" class="list-group-item">在线访客 343132421</a>
          <a href="#" class="list-group-item">在线记录 232</a>
        </div>
  </div>    
  <div nz-col [nzSpan]="16" [nzPull]="8">
    <div nz-col [nzSpan]="18">
       <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索!</button>
          </span>
        </div>
    </div>
    <div nz-col [nzSpan]="6">
      <button class="btn btn-success" style="margin-left:5px">
        <i _ngcontent-c6="" class="anticon anticon-edit"></i> 发布文章
      </button>
    </div>

    <div nz-col [nzSpan]="22">
      <app-list-info></app-list-info>
    </div>
    
  </div>
</div>



